@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "tailwindcss";

:root {
    --background: #ffecd9;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

body {
    color: var(--foreground);
    font-family: "Varela Round";
    font-style: normal;
    background: url("/bg.svg") no-repeat fixed center;
    background-size: cover;
}
